rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /handbook/{tab} {
      allow read, write: if tab == 'codi' || tab == 'coach' || tab == '2f' || tab == 'b1' || tab == 'announce';
    }

    match /handbookImages/{imageId} {
      allow read: if true;
      allow create, update: if request.resource.data.image is bytes
        && request.resource.data.image.size() <= 300 * 1024
        && request.resource.data.contentType.matches('image/.*');
      allow delete: if true;
    }
  }
}
